%table
  %tr
    %th{ :width => '50%', :class => 'l1' } Název modulu
    %th Aktivní
    %th Velikost
    %th &nbsp;
    = render(:partial => 'advertisement', :collection => @collection)
  %tr
    %td{ :colspan => '4'}= will_paginate @collection, :previous_label => 'Předchozí', :next_label => 'Další'
